@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin:0;
    font-family: 'Work Sans', sans-serif;
    color: #5c5c5c;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECECEC;
    margin-top:5%;
}

/** CSS PUNYA EDIT PAGE **/
.mainbody{
    display: flex;
    flex-direction: column;
    background:#ffff;
    padding:50px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 10px;
    border:0.5px solid #dddddd;
    border-radius: 3%;
}

form{
    display: flex;
    flex-direction: column;
    padding:10px;
}
.secondBody form label{
    padding-top:10px;
    /* padding-bottom: 9px; */
}
.secondBody input{
    padding: 10px;
    border:0.5px solid #DFDFDF;
}
.secondBody form button{
    align-items: center;
    margin-top:10px;
    width:auto;
    padding:10px;
    border: 0.5px solid #c5c4c4;
    border-radius: 5px;
}
.secondBody form button:hover{
    border: 0.5px solid #D4A355;
}

.secondBody form p{
    margin-top: 27px;
    font-size: 12px;
}
.secondBody a{
    margin-top:15px;
}

